{% extends 'base.html' %}
{% block content %}
<div class="about-container">
    <h2>About MindEase</h2>
    <p>
       MindEase is a supportive mental wellness companion designed to help users
            understand their emotional state and guide them toward healing.
            Whether you're dealing with stress, anxiety, or depression, MindEase provides
            personalized activities, reflections, and progress tracking to help you grow
            at your own pace.
    </p>
</div>
{% endblock %}
